.fire {
	background-color: #ff9d55;
}
.normal {
	background-color: #929da3;
}
.fighting {
	background-color: #ce416b;
}
.flying {
	background-color: #8fa9de;
}
.poison {
	background-color: #aa6bc8;
}
.ground {
	background-color: #d97845;
}
.rock {
	background-color: #c5b78c;
}
.bug {
	background-color: #91c12f;
}
.ghost {
	background-color: #5269ad;
}
.steel {
	background-color: #5a8ea2;
}
.water {
	background-color: #5090d6;
}
.grass {
	background-color: #63bc5a;
}
.electric {
	background-color: #f4d23c;
}
.psychic {
	background-color: #fa7179;
}
.ice {
	background-color: #73cec0;
}
.dragon {
	background-color: #0b6dc3;
}
.dark {
	background-color: #06070d;
}
.fairy {
	background-color: #ec8fe6;
}

ol.pokemon {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.pokemon li {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	padding: 1rem 2rem;
	border-radius: 0.6rem;
	min-height: 10rem;
	color: whitesmoke;
}
.pokemon li img {
	height: 100%;
	max-width: 80px;
}
.pokemon li .title {
	text-transform: capitalize;
}

.pokemon li .number {
	text-align: right;
	font-size: 0.5rem;
	color: rgba(0, 0, 0, 0.404);
}

.pokemon li .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}
.pokemon li .info .image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.pokemon li .info .types {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.pokemon li .info .types span {
	border: 1px solid transparent;
	background-color: rgba(255, 255, 255, 0.266);
	border-radius: 1rem;
	padding: 0.5rem;
	margin-left: 1px;
	font-size: 10px;
	text-align: center;
}

@media (max-width: 480px) {
	.content {
		max-width: 360px;
		margin: 0 auto;
	}
	ol.pokemon {
		display: grid;
		grid-template-columns: 1fr;
	}
}
@media (min-width: 480px) {
	.content {
		max-width: 481;
		margin: 0 auto;
	}
	ol.pokemon {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 600px) {
	ol.pokemon {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 768px) {
	.content {
		max-width: 770px;
		margin: 0 auto;
	}
}
@media (min-width: 991px) {
	.content {
		max-width: 991px;
		height: auto;
		margin: 1rem auto;
	}
	ol.pokemon {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (max-width: 1200px) {
}
